{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1>Créer une sortie</h1>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}