{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}

{% block body %}
<main>
    <div class="f-col a-cent j-even">
        {{ form_start(participantForm) }}

        {{ form_widget(participantForm) }}

        <div class="f j-cent">
            <button class="btn-scdr" type="submit">Enregistrer</button>
            <button class="btn-danger ml-32" type="reset">Annuler</button>
        </div>

        {{ form_end(participantForm) }}
    </div>
</main>
{% endblock %}


