.filter-checkbox label, .filter_enddate label {
    width: max-content;
}

@media (max-width: 1300px) {
    .filter-section {
        flex-direction: column;
    }

    .filter-top {
        margin-bottom: 64px;
    }
}

@media (max-width: 1100px) {
    .filter-date {
        flex-direction: column;
    }

    .filter_enddate {
        margin-top: 16px;
    }

    .filter_enddate, .filter_enddate input {
        margin-left: 0;
    }

    .filter_enddate label {
        width: 200px;
    }
}

@media (max-width: 700px) {
    .infos {
        align-items: center;
        margin-bottom: 64px;
    }
    .filter-top, .filter-top div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
