.filter-checkbox label, .filter_enddate label {
    width: max-content;
}

@media (max-width: 1300px) {
    .filter-section {
        flex-direction: column;
    }

    .filter-top {
        margin-bottom: 64px;
    }
}

@media (max-width: 1100px) {
    .filter-date {
        flex-direction: column;
    }

    .filter_enddate {
        margin-top: 16px;
    }

    .filter_enddate, .filter_enddate input {
        margin-left: 0;
    }

    .filter_enddate label {
        width: 200px;
    }
}

@media (max-width: 700px) {
    .infos {
        align-items: center;
        margin-bottom: 64px;
    }
    .filter-top, .filter-top div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 64px;
}

table th {
    background: #d8d8d8;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 900px) {
    table {
        overflow-x: auto;
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody,
    table tr,
    table td {
        display: block;
        width: 100%;
    }
    table td {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    table td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        text-transform: uppercase;
    }
}
